body {
	background-color: #cce3de;
}

h1 {
	font-family: 'PT Sans', sans-serif;
}

p {
	font-family: 'PT Sans', sans-serif;
}

ol {
	font-family: 'PT Sans', sans-serif;
}

ul {
	font-family: 'PT Sans', sans-serif;
}
h4 {
	font-family: 'PT Sans', sans-serif;
}

li{
	font-family: 'PT Sans', sans-serif;
}